# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://{ID}:{PW}@{IP}:{PORT}/{DB}"

AUTH_SECRET="{YOUR_SECRET_KEY}"
AUTH_TRUST_HOST=true

NEXT_PUBLIC_NEXTAUTH_URL="https://{YOUR_DOMAIN}"

MAIL_FROM="no-reply@sample.com"

SMTP_SERVER="mail.sample.com"
SMTP_PORT=587
SMTP_ID="no-reply@sample.com"
SMTP_PW="MY_PASSWORD"

NEXT_PUBLIC_PRIMARY_RGB="#7c3aed"

GOOGLE_CLIENT_ID="GOOGLE_SECRET_ID"
GOOGLE_CLIENT_SECRET="GOOGLE_SECRET_KEY"

NEXT_PUBLIC_UPLOAD_SERVER="https://upload.sample.com"